<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>
            <small class="card-small">*必填欄位</small>
            <span class="card-title">請輸入你的支出</span>
          </h4>
          <hr>
          <form action="/records" method="POST" id="form">
            <div class="form-group row mb-3 g-2">
              <label for="name" class="col-md-2 col-form-label">
                名稱 <span class="require">*</span>
              </label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control" id="name" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="form-group row mb-3 g-2">
              <label for="date" class="col-md-2 col-form-label">
                日期 <span class="require">*</span>
              </label>
              <div class="col-md-10">
                <input type="date" name="date" class="form-control" id="date" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="form-group row mb-3 g-2">
              <label for="category" class="col-md-2 col-form-label">
                類別 <span class="require">*</span>
              </label>
              <div class="col-md-10">
                <select class="form-control" id="category-dropdown" name="category" aria-label="select-by-category">
                  <option value="All">請選擇類別</option>
                  {{#each categoryList}}
                  <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                  {{/each}}
                </select>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="form-group row mb-3 g-2">
              <label for="amount" class="col-md-2 col-form-label">
                金額 <span class="require">*</span>
              </label>
              <div class="col-md-10">
                <input type="number" name="amount" class="form-control" id="amount" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="new-btn-location">
              <button class="btn btn-outline-dark" type="submit" id="submit-button">新增支出</button>
              <a href="/">
                <button type="button" class="btn btn-outline-dark">
                  返回首頁
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../utility/time.js"></script>
