.navbar .navbar-brand {
  font-size: 25px;
  font-weight: 900;
}

.login-button {
  background-color: #fff;
  border: 1px solid black;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.total p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -40px;
}

.totalAmount {
  font-size: 50px;
  margin: 0px 0px 20px 130px;
  color: #E95420;
}

.table-active {
  align-items: center;
}

#index-icon {
  text-align: center;
  width: 15%;
  font-size: 30px;
  color: #1262b3;
}

#index-name {
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: 700;
}

#index-date {
  font-size: 5px;
}

#index-amount {
  text-align: end;
  width: 15%;
  font-size: 20px;
}

.form-select {
  width: 300px;
}

.edit-delete-btn {
  text-align: end;
  width: 35%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
}

.edit-delete-btn .btn-success {
  margin-right: 5px;
}

.create-btn {
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 30px auto;
  border: 1px solid black;
}

.card-small {
  font-size: 10px;
}

.card-title {
  font-size: 35px;
  margin: 0 0 0 35px;
  font-weight: 700;
}

.require {
  color: red;
}

form.was-validated input:invalid {
  border-bottom: 1px solid red;
}

form.was-validated input:valid {
  border-bottom: 1px solid green;
}

.require {
  color: red;
  font-weight: 700;
}

label, input{
  height: 40px;
}

.new-btn-location {
  text-align: end;
}

.sign-in-btn, .fb-btn{
  width: 100%;
  font-size: 20px;
}

.login-card {
  width: 500px;
}

.lead {
  font-weight: 400;
}